In [1]:
import pandas as pd

In [14]:
df = pd.read_parquet('combined_data/cleaned_data.parquet', engine='pyarrow')
df = df[df['Inbetriebnahmedatum'] > '1991-01-01']

In [15]:
df.shape

(4559756, 32)

In [8]:
# Convert the 'Bruttoleistung' column to float
df['Bruttoleistung'] = df['Bruttoleistung'].astype(float)

In [9]:
# Updating bins and labels to include "over 1000"
bins = [0, 10, 40, 100, 1000, float('inf')]
labels = ['under 10', '10 - 40', '40 - 100', '100 - 1000', 'over 1000']

# Re-categorize 'Bruttoleistung' column after conversion with the updated bins
df['Bruttoleistung_Group'] = pd.cut(df['Bruttoleistung'], bins=bins, labels=labels, right=False)

# Recalculate the number of installations in each category
installations_count = df['Bruttoleistung_Group'].value_counts().sort_index()

# Display the updated results as a DataFrame
installations_summary = pd.DataFrame(installations_count).reset_index()
installations_summary.columns = ['Bruttoleistung Group', 'Number of Installations']

In [10]:
installations_summary

  Bruttoleistung Group  Number of Installations
0             under 10                  3067905
1              10 - 40                  1297170
2             40 - 100                   124907
3           100 - 1000                    63247
4            over 1000                     6527

In [11]:
installations_summary['Number of Installations'].sum()

4559756

In [13]:
df.shape

(4559756, 33)